* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font: bold 4rem Verdana, sans-serif;
}

h2 {
  font: bold 2.75rem Verdana, sans-serif;
}

h3 {
  font: bold 1.75rem Verdana, sans-serif;
}

p {
  font: 1rem/1.4rem Verdana, sans-serif;
}

nav {
  position: fixed;

  width: 250px;
  height: 100%;
  padding: 2.5em;

  background: #d6fffe;
}

nav h1 {
  padding: 1.5em 0;
}

nav ul {
  padding: 1.5em 0;

  list-style: none;
}

nav li {
  padding: 0.5em 0;
}

nav a {
  font: 1rem Verdana, sans-serif;
  color: black;
  text-decoration: none;
}

.active {
  font-weight: bold;
}

header {
  width: calc(100% - 250px);
  height: 40%;
  margin-left: 250px;

  background: url("images/gaming-background.jpg") center;
  background-size: cover;
  box-shadow: 0 0 5em inset;
}

header .backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  backdrop-filter: brightness(50%);
}

header h1,
header h3 {
  color: white;
  text-shadow: 0 0 0.75rem black;
}

main {
  width: calc(100% - 250px);
  margin-left: 250px;
  padding: 2em;

  background: #332d39;

  color: white;
}

main h2 {
  max-width: 1024px;
  padding: 0.25em;
  margin: 0.5em auto;
  border-top: 0.125em solid #a8a8b1;
  border-bottom: 0.125em solid #a8a8b1;

  text-align: center;
}

main section {
  max-width: 1024px;
  margin: auto;
}

main p {
  margin: 1.5em 0;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.container>* {
  width: 50%;
  object-fit: contain;
}

.reverse {
  flex-direction: row-reverse;
}

.container p {
  margin: auto;
}

main code {
  display: block;

  padding: 1em;
  border-radius: 1em;

  font: 1rem consolas, monospace;

  background: #f6f8fa;
}

code .indent {
  margin-left: 1.17em;
}

code .red {
  color: #d8222e;
}

code .lightblue {
  color: #0969da;
}

code .blue {
  color: #0550ae;
}

code .black {
  color: #080b10;
}

code .navy {
  color: #0a3069;
}

code .gray {
  color: #6e7781;
}